{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Articles" %}

{% block content %}

<div class="page-content">
  <div class="pagetitle">
      <h2>Only the flyest articles</h2>
  </div>
  <div class="features">
    {% for entry in craft.entries.section('articles').find() %}
    {% set coverImage = entry.coverImage.first() %}
  		<div class="feature">
        <a href="{{ entry.url }}"><img src="{{ coverImage.url }}" rel="" /></a>
  			<h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
  			{{ entry.body.getPage(1) }}
  			<a class="text-link" href="{{ entry.url }}">Go to collection</a>
  		</div>
  	{% endfor %}
  </div>


</div><!-- .page-content -->

{% endblock %}
